<html>
    <head>
        <title>Merchants Items</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>
    <body>
        <h1>SkyrimSearch</h1>
        <div class="admin">
        <a href="/Merchants" class="navigation">Merchants</a>
        <a href="/Items" class="navigation">Items</a>
        <a href="/Merchants_Items" class="navigation">Merchants Items</a>
        <a href="/Categories" class="navigation">Categories</a>
        <a href="/Merchants_Categories" class="navigation">Merchants Categories</a>
        <a href="/Locations" class="navigation">Locations</a>
        <a href="/Enchantments" class="navigation">Enchantments</a>
        </div>

        {% if id == 0 %}

        <div id='select'>
            <form id='Select_Merchant' method='GET'>
                <legend>Select a Merchant</legend>
                <fieldset>
                    <select name='merchantID'>
                        {% for merchant in merchants_list %}
                        <option value='{{ merchant.merchantID }}'>{{ merchant.merchant_name}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <input type='submit' value='Select' action='/Merchants_Items/<int:id>'>
            </form>
        </div>

        {% else %}

        <div id='select'>
            <form id='Select_Merchant' method='GET'>
                <legend>Select a Merchant</legend>
                <fieldset>
                    <select name='merchantID'>
                        {% for name in merchants_list %}
                            {% if name['merchantID'] == id %}
                                <option value='{{ name.merchantID }}' selected>{{ name.merchant_name}}</option>
                            {% else %}
                                <option value='{{ name.merchantID }}'>{{ name.merchant_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </fieldset>
                <input type='submit' value='Select' action='/Merchants_Items/<int:id>'>
            </form>
        </div>

        <div id='insert'>
            <form id='Add_Inventory' action='/Merchants_Items/{{merchant[0].merchantID}}' method='POST'>
                <legend>Add Item to Merchant</legend>
                <fieldset>
                    <label>Merchant:</label>
                        <select name='merchantID'>
                            {% for name in merchants_list%}
                            {% if name.merchantID == merchant[0].merchantID %}
                                <option value='{{ name.merchantID }}' selected>{{ name.merchant_name }}</option>
                            {% else %}
                                <option value='{{ name.merchantID }}'>{{ name.merchant_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    <label>Item:</label>
                        <select name='itemID'>
                            {% for item in item_list %}
                            <option value='{{item.itemID}}'>{{ item.item_name }}</option>
                            {% endfor %}
                        </select>
                </fieldset>
                    <input type='submit' value='Add' name='Add_Inventory'>
                    <a href='/Merchants_Items/{{merchant[0].merchantID}}'><input type='button' value='Cancel'>
            </form>
        </div>

        <div id='display'>
            <table border='1' cellpadding='5'>
                {% for name in merchant %}
                <caption>{{name.merchant_name}}'s Items</caption>
                {% endfor %}
                <thead>
                    <tr>
                        {% for key in merchants_items[0] %} 
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in merchants_items %}
                    <tr>
                        {% for key in item %}                       
                        <td> {{item[key]}} </td>
                        {% endfor %}
                        <td><a href="/Merchants_Items_Delete/{{merchant[0].merchantID}}/{{item.itemID}}" class='btn'>Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
        {% endif %}    
    </body>
</html>